.Bookmark, .Bookmark button {
    height: 100%;
    width: 100%;
    padding: 0;
}

.Bookmark svg, .Bookmark img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.Bookmark img {
    opacity: 0.75;
}

.Bookmark img:hover {
    opacity: 1;
}

.Bookmark svg {
    color:rgba(41, 43, 44, 0.5);
}
.Bookmark svg:hover {
    color:rgba(41, 43, 44, 0.75);
}