.Bookmark, .Bookmark button {
    height: 100%;
    width: 100%;
    padding: 0;
}

.Bookmark svg, .Bookmark img, .IconContainer img {
    height: 32px;
    width: 32px;
}

.Bookmark img {
    transition: 0.1s;
}

.Bookmark img:hover {
    box-shadow: 3px 3px 5px 0px rgba(63, 63, 63, 0.25);
}

.Bookmark svg {
    color:#292b2c;
    background-color: transparent;
    transition: 0.3s;
}

.Bookmark svg, .Circle {
    border-radius: 50%;
}

.Bookmark svg:hover {
    background-color: rgba(41, 43, 44, 0.25);
}

.IconCustomize {
    display: none
}

.IconContainer img {
    box-shadow: 3px 3px 5px 0px rgba(63, 63, 63, 0.25);
}

.IconContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}