.Calculator {
    position: relative;
    width: 92%;
    height: 94%;
    margin: 4%;
    padding-top: 5%;
    background-color: slateblue;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 0px rgba(63,63,63,0.25);
}

.Calculator h6, .Calculator h4 {
    margin: 0 2.5%; 
    width: 95%;
    text-align: end;
    word-wrap: break-word;
}

.Calculator h6:after {
    content: '.';
    visibility: hidden;
}

.Container {
    position: absolute;
    bottom: 0;
}

.Button {
    border-radius: 0%;
    background-color: rgba(255,255,255,0.25);
    border: 1px solid slateblue;
    color: white;
}

.Button:hover {
    background-color: rgba(255,255,255,0.5);
    border: 1px solid slateblue;
    color: white;
    text-decoration: none;
}