.Converter {
    width: 95%;
    height: 90%;
    margin: 2.5%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 5px 0px rgba(63,63,63,0.25);
}

.Converter button {
    width: 100%;
}

.Converter button:first-of-type {
    margin: 5% auto;
}

.Converter input[type=text] {
    text-align: center;
}