.Nav button {
    height: 100%;
    padding: 0;
}

.Nav svg {
    height: 24px;
    width: 24px;
    color: white;
}

.Nav button:first-of-type {
    padding-right: 0.25rem;
}

.Modal button {
    color: #292b2c;
    padding: 0;
}

.Modal button:hover {
    color: #292b2c;
}

.Pages div {
    animation: fadeIn 1s;
}

.Pages video {
    width: 100%;
    margin: 1rem auto;
    box-shadow: 3px 3px 5px 0px rgba(63, 63, 63, 0.25);
    border-bottom: 0.75px solid black;
}

.Pages div:nth-child(1) img {
    height: 80%;
    width: 80%;
    border: none;
    box-shadow: none;
}

.Pagination button {
    height: 32px;
    width: 32px;
    margin: 0 1rem;
    padding: 0;
    border-radius: 50% !important;
}

.Pagination button:hover {
    background-color: rgba(169, 169, 169, 0.75);
}

.Active {
    background-color: #292b2c;
    color: white !important;
    animation: fadeIn 1s;
}

.Hide {
    display: none !important;
}

.Invisible {
    visibility: hidden;
}

.Footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}