.Todo {
    display: flex;
    justify-content: space-between;
}

.Todo button, .Todo button:hover {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    color: #292b2c;
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

.Todo svg {
    height: 24px;
    width: 24px;
    margin-right: 5px;
}

.Outline svg {
    opacity: 0.75;
}

.Outline svg:hover {
    opacity: 1;
}

.Checked {
    text-decoration: line-through;
}

.Delete {
    height: 18px !important;
    width: 18px !important;
    margin-right: 0 !important;
    opacity: 0.75;
}

.Delete:hover {
    opacity: 1;
}