.Todo button, .Todo button:hover {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
    color: #292b2c;
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}

.Todo svg {
    height: 24px;
    width: 24px;
    margin-right: 5px;
}

.Outline svg {
    color: rgba(41, 43, 44, 0.5);
}

.Outline svg:hover {
    color: rgba(41, 43, 44, 0.75);
}

.Checked {
    text-decoration: line-through;
}